@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(135deg, #485461 0%, #28313b 74%);
}

p {
  color: #04143d;
  font-size: 18px;
}

h1 {
  margin-bottom: 30px;
  color: #04143d;
}

a {
  text-decoration: none;
  color: #04143d;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

.padding {
  padding: 50px 100px 50px 170px;
}

.padding2 {
  padding: 100px 100px 100px 170px;
}

.text-header {
  color: #04143d;
  width: 100%;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

header {
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 10px 100px 0px 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  z-index: 100;
}
header .logo {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: bold;
}
header .logo img {
  height: 70px;
}
header .tasks-bg {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 20, 61, 0.6);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: 1s;
}
header .tasks-bg.active {
  visibility: visible;
  opacity: 1;
}
header .tasks-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  border-top: 3px solid #04143d;
  transition: 0.1s;
}
header .tasks-logo:after,
header .tasks-logo:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #04143d;
  transition: 0.2s;
}
header .tasks-logo:before {
  top: 23px;
}
header .tasks-logo.active {
  border-top-color: transparent;
}
header .tasks-logo.active:after {
  transform: rotateZ(45deg);
}
header .tasks-logo.active:before {
  top: 10px;
  transform: rotateZ(-45deg);
}
header .tasks {
  position: absolute;
  top: 90px;
  right: 0;
  width: 400px;
  height: calc(100vh - 90px);
  background: #04143d;
  transition: 0.5s;
  z-index: 1;
}
header .tasks ul {
  padding-top: 50px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
header .tasks ul li {
  list-style: none;
  margin-bottom: 40px;
  overflow: hidden;
}
header .tasks ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}
header .tasks ul li span {
  position: relative;
  top: -10px;
  left: -100%;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  transition: 0.5s;
}
header .tasks ul li:hover span {
  left: 0;
}
header .tasks ul li:hover a {
  letter-spacing: 2px;
}
header .tasks ul p {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 100%;
  text-align: center;
  font-size: 180px;
  letter-spacing: 20px;
  font-weight: bold;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  cursor: pointer;
}
header .tasks ul p:hover {
  color: rgba(255, 255, 255, 0.5);
}
header .tasks.active {
  right: -400px;
}

.banner-container {
  position: relative;
  top: 90px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.banner-container .bg {
  position: absolute;
  top: -100px;
  left: -10%;
  width: 60%;
  height: 100%;
  background: #04143d;
  transform: skew(-20deg);
  z-index: -1;
}
.banner-container .bg:after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: red;
}
.banner-container div {
  margin-top: 50px;
}
.banner-container div i {
  color: white;
  transform: scale(0.8);
  margin-right: 5.5px;
}
.banner-container div span {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
}
.banner-container div span a {
  color: #fff;
  text-decoration: none;
}
.banner-container div img {
  width: 7px;
  height: 11px;
  margin: 0px 11px;
}
.banner-container p {
  margin-top: 25.5px;
  color: white;
  font-family: sans-serif;
  font-size: 42px;
  letter-spacing: 1.43px;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-style: italic;
}
.banner-container p img {
  width: 16px;
  margin: 0px 11px;
}
.banner-container p img:last-child {
  opacity: 0;
  display: none;
}

.banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 90px);
  transition: 1s;
}
.banner #banner {
  position: absolute;
  top: -90px;
}
.banner span {
  position: absolute;
  bottom: 100px;
  left: 170px;
  width: 60px;
  height: 5px;
  border-radius: 10px;
  background: gray;
  cursor: pointer;
  z-index: 1;
}
.banner span:nth-child(2) {
  left: 250px;
}
.banner span:nth-child(3) {
  left: 330px;
}
.banner span:nth-child(4) {
  left: 410px;
}
.banner span.sticky {
  background: red;
}
.banner .down-box {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 50px;
  height: 50px;
  z-index: 1;
  cursor: pointer;
}
.banner .down-box .down-icon {
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 5px;
  height: 50px;
  border-radius: 10px;
  background: #fff;
  z-index: 1;
}
.banner .down-box .down-icon:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 10px;
  width: 5px;
  height: 30px;
  border-radius: 10px;
  background: #fff;
  transform: rotateZ(45deg);
  z-index: 1;
}
.banner .down-box .down-icon:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -10px;
  width: 5px;
  height: 30px;
  border-radius: 10px;
  background: #fff;
  transform: rotateZ(-45deg);
  z-index: 1;
}
.banner .down-box:hover .down-icon {
  animation: animateDownIcon 2s ease-in-out infinite;
}
.banner .slider-banner {
  position: relative;
  width: 500%;
  height: 100%;
  display: flex;
  transition: 1s ease-in-out;
}
.banner .slider-banner .box1,
.banner .slider-banner .box2,
.banner .slider-banner .box3,
.banner .slider-banner .box4 {
  position: relative;
  width: 20%;
}
.banner .slider-banner .box1 .content,
.banner .slider-banner .box2 .content,
.banner .slider-banner .box3 .content,
.banner .slider-banner .box4 .content {
  position: absolute;
  bottom: 200px;
  width: 700px;
  height: 350px;
  margin-left: 170px;
}
.banner .slider-banner .box1 .content p,
.banner .slider-banner .box2 .content p,
.banner .slider-banner .box3 .content p,
.banner .slider-banner .box4 .content p {
  font-size: 80px;
  margin-bottom: 50px;
  color: #fff;
  font-weight: bold;
}
.banner .slider-banner .box1 .image-box,
.banner .slider-banner .box2 .image-box,
.banner .slider-banner .box3 .image-box,
.banner .slider-banner .box4 .image-box {
  width: 100%;
  height: 100%;
}
.banner .slider-banner .box1 .image-box img,
.banner .slider-banner .box2 .image-box img,
.banner .slider-banner .box3 .image-box img,
.banner .slider-banner .box4 .image-box img {
  width: 100%;
  height: 100%;
}
@keyframes animateDownIcon {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.study-program-container,
.system-advantages-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.study-program-container #study,
.system-advantages-container #study {
  position: absolute;
  top: -90px;
}
.study-program-container .introduce,
.system-advantages-container .introduce {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.study-program-container .introduce p,
.system-advantages-container .introduce p {
  font-weight: bold;
  font-size: 20px;
}
.study-program-container .introduce .research,
.system-advantages-container .introduce .research {
  position: relative;
  display: flex;
  cursor: pointer;
}
.study-program-container .introduce .research p,
.system-advantages-container .introduce .research p {
  padding: 15px;
  color: red;
}
.study-program-container .introduce .research .icon,
.system-advantages-container .introduce .research .icon {
  position: relative;
}
.study-program-container .introduce .research .icon svg,
.system-advantages-container .introduce .research .icon svg {
  position: relative;
  top: 10px;
  transition: 0.5s;
}
.study-program-container .introduce .research:hover .icon svg,
.system-advantages-container .introduce .research:hover .icon svg {
  transform: rotateZ(180deg);
}
.study-program-container .study-program,
.study-program-container .system-advantages,
.system-advantages-container .study-program,
.system-advantages-container .system-advantages {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 700px;
}
.study-program-container .study-program > p,
.study-program-container .system-advantages > p,
.system-advantages-container .study-program > p,
.system-advantages-container .system-advantages > p {
  width: 50%;
  font-size: 60px;
  font-weight: bold;
  margin-top: 100px;
  letter-spacing: 2px;
  line-height: 80px;
}
.study-program-container .study-program .majors-container,
.study-program-container .study-program .advantages,
.study-program-container .system-advantages .majors-container,
.study-program-container .system-advantages .advantages,
.system-advantages-container .study-program .majors-container,
.system-advantages-container .study-program .advantages,
.system-advantages-container .system-advantages .majors-container,
.system-advantages-container .system-advantages .advantages {
  width: 50%;
  height: 600px;
  margin-top: 100px;
}
.study-program-container .study-program .majors-container ul,
.study-program-container .study-program .advantages ul,
.study-program-container .system-advantages .majors-container ul,
.study-program-container .system-advantages .advantages ul,
.system-advantages-container .study-program .majors-container ul,
.system-advantages-container .study-program .advantages ul,
.system-advantages-container .system-advantages .majors-container ul,
.system-advantages-container .system-advantages .advantages ul {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.study-program-container .study-program .majors-container ul li,
.study-program-container .study-program .advantages ul li,
.study-program-container .system-advantages .majors-container ul li,
.study-program-container .system-advantages .advantages ul li,
.system-advantages-container .study-program .majors-container ul li,
.system-advantages-container .study-program .advantages ul li,
.system-advantages-container .system-advantages .majors-container ul li,
.system-advantages-container .system-advantages .advantages ul li {
  width: 350px;
  padding-top: 25px;
  padding-bottom: 25px;
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.study-program-container .study-program .majors-container ul li:nth-child(7), .study-program-container .study-program .majors-container ul li:last-child,
.study-program-container .study-program .advantages ul li:nth-child(7),
.study-program-container .study-program .advantages ul li:last-child,
.study-program-container .system-advantages .majors-container ul li:nth-child(7),
.study-program-container .system-advantages .majors-container ul li:last-child,
.study-program-container .system-advantages .advantages ul li:nth-child(7),
.study-program-container .system-advantages .advantages ul li:last-child,
.system-advantages-container .study-program .majors-container ul li:nth-child(7),
.system-advantages-container .study-program .majors-container ul li:last-child,
.system-advantages-container .study-program .advantages ul li:nth-child(7),
.system-advantages-container .study-program .advantages ul li:last-child,
.system-advantages-container .system-advantages .majors-container ul li:nth-child(7),
.system-advantages-container .system-advantages .majors-container ul li:last-child,
.system-advantages-container .system-advantages .advantages ul li:nth-child(7),
.system-advantages-container .system-advantages .advantages ul li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.study-program-container .study-program .majors-container ul li p,
.study-program-container .study-program .advantages ul li p,
.study-program-container .system-advantages .majors-container ul li p,
.study-program-container .system-advantages .advantages ul li p,
.system-advantages-container .study-program .majors-container ul li p,
.system-advantages-container .study-program .advantages ul li p,
.system-advantages-container .system-advantages .majors-container ul li p,
.system-advantages-container .system-advantages .advantages ul li p {
  font-weight: bold;
  transition: 0.5s;
}
.study-program-container .study-program .majors-container ul li:hover p,
.study-program-container .study-program .advantages ul li:hover p,
.study-program-container .system-advantages .majors-container ul li:hover p,
.study-program-container .system-advantages .advantages ul li:hover p,
.system-advantages-container .study-program .majors-container ul li:hover p,
.system-advantages-container .study-program .advantages ul li:hover p,
.system-advantages-container .system-advantages .majors-container ul li:hover p,
.system-advantages-container .system-advantages .advantages ul li:hover p {
  color: red;
}

.home-container {
  position: relative;
  top: 90px;
  background: #f6f7fa;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.home-container .system-introduce {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.home-container .system-introduce #introduce {
  position: absolute;
  top: -90px;
}
.home-container .system-introduce .introduce {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
}
.home-container .system-introduce .introduce .content {
  width: 45%;
  height: 100%;
}
.home-container .system-introduce .introduce .content h1 {
  color: #04143d;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.home-container .system-introduce .introduce .content h1:hover {
  letter-spacing: 2px;
}
.home-container .system-introduce .introduce .content p {
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 30px;
}
.home-container .system-introduce .introduce .content button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
  background: #04143d;
  cursor: pointer;
}
.home-container .system-introduce .introduce .content button a {
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.home-container .system-introduce .introduce .content button:hover a {
  letter-spacing: 3px;
}
.home-container .system-introduce .introduce .image-box {
  position: relative;
  width: 50%;
  height: 100%;
  box-shadow: 5px 10px 10px rgba(4, 20, 61, 0.5);
  background: none;
  cursor: pointer;
}
.home-container .system-introduce .introduce .image-box img {
  border: 5px solid #fff;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(2px);
}
.home-container .system-introduce .introduce .image-box img:hover {
  transform: translate(6px, 13px);
}
.home-container .system-function-container {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #04143d;
}
.home-container .system-function-container .text-header {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.home-container .system-function-container .system-function {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.home-container .system-function-container .system-function .content {
  margin-bottom: 50px;
}
.home-container .system-function-container .system-function .content h1 {
  color: #fff;
  font-size: 40px;
}
.home-container .system-function-container .system-function .system-function-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.home-container .system-function-container .system-function .system-function-box .box {
  width: 30%;
  height: 200px;
  border-right: 1px solid #000;
  margin-right: 3%;
  margin-bottom: 3%;
  color: #04143d;
  background: #f6f7fa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  padding: 30px 50px;
}
.home-container .system-function-container .system-function .system-function-box .box p {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s;
  text-align: center;
}
.home-container .system-function-container .system-function .system-function-box .box p:hover {
  letter-spacing: 2px;
}
.home-container .system-function-container .system-function .system-function-box .box a {
  color: #04143d;
}
.home-container .system-function-container .system-function .system-function-box .box a button {
  padding: 10px 25px;
  color: #04143d;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #04143d;
}
.home-container .system-function-container .system-function .system-function-box .box a i {
  margin-left: 15px;
}
.home-container .system-function-container .system-function .system-function-box .box a:hover {
  color: #fff;
}
.home-container .system-function-container .system-function .system-function-box .box a:hover button {
  color: #fff;
  background: #04143d;
}
.home-container .evaluate-container {
  position: relative;
  min-height: 50vh;
  width: 100%;
}
.home-container .evaluate-container .evaluate-box {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-container .evaluate-container .evaluate-box .box {
  text-align: center;
}
.home-container .evaluate-container .evaluate-box .box p {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}
.home-container .image-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.home-container .image-container img {
  width: 100%;
  height: 90%;
  border: 15px solid #fff;
  cursor: pointer;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.employees-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #f6f7fa;
}
.employees-container .add-employee-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}
.employees-container .add-employee-button button {
  border: none;
}
.employees-container .add-employee-button button a {
  border-radius: 20px;
  padding: 10px 23px;
  color: #fff;
  background: #04143d;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.employees-container .add-employee-button button a i {
  margin-left: 10px;
  color: #fff;
}
.employees-container .table-container table {
  width: 100%;
  height: 100%;
  border: 1px solid #04143d;
}
.employees-container .table-container table th,
.employees-container .table-container table td {
  padding: 20px 15px;
  border: 1px solid #04143d;
}
.employees-container .table-container table tr th {
  background: #04143d;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
.employees-container .table-container table tr th:hover {
  color: red;
}
.employees-container .table-container table tr .code,
.employees-container .table-container table tr .name {
  font-weight: bold;
}
.employees-container .table-container table tr i {
  width: 50%;
  text-align: center;
  color: #04143d;
  transition: 0.5s;
  cursor: pointer;
}
.employees-container .table-container table tr i:hover {
  color: red;
}
.employees-container .pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.employees-container .pagination-container span {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
  color: #04143d;
}
.employees-container .pagination-container span.activePagination {
  background: red;
  color: #fff;
}
.employees-container .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 20, 61, 0.6);
}
.employees-container .delete-employee {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background: #04143d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.employees-container .delete-employee p {
  color: #fff;
  font-weight: bold;
  margin-bottom: 50px;
}
.employees-container .delete-employee .confirm {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.employees-container .delete-employee .confirm button {
  padding: 10px 40px;
  background: red;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.5s;
}
.employees-container .delete-employee .confirm button:nth-child(2) {
  margin-left: 100px;
  background: green;
}
.employees-container .delete-employee .confirm button:hover {
  opacity: 1;
}

.add-employee-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #f6f7fa;
}
.add-employee-container form {
  width: 600px;
  height: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.add-employee-container form label {
  color: #04143d;
  font-weight: bold;
  margin-bottom: 20px;
}
.add-employee-container form input[type=text],
.add-employee-container form input[type=email],
.add-employee-container form input[type=number] {
  width: 100%;
  height: 20px;
  border: none;
  outline: none;
  background: transparent;
  margin-bottom: 15px;
  border-bottom: 1px solid #04143d;
  transition: 0.5s;
  font-size: 16px;
}
.add-employee-container form input[type=text]:focus,
.add-employee-container form input[type=email]:focus,
.add-employee-container form input[type=number]:focus {
  margin-top: 20px;
  border-bottom-color: red;
}
.add-employee-container form .input-img {
  margin-top: 20px;
  margin-bottom: 30px;
}
.add-employee-container form select {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.add-employee-container form input[type=submit] {
  width: 100%;
  height: 40px;
  background: #04143d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
.add-employee-container a {
  display: inline-block;
  margin-top: 50px;
}
.add-employee-container p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.employee-information-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #f6f7fa;
}
.employee-information-container .employee-information {
  position: relative;
  width: 100%;
  height: 800px;
  background: #fff;
  border: 1px solid #04143d;
  cursor: pointer;
  display: flex;
  box-shadow: 5px 10px 10px rgba(4, 20, 61, 0.5);
}
.employee-information-container .employee-information .card-box {
  margin-left: 50px;
  width: 400px;
  background: #04143d;
}
.employee-information-container .employee-information .card-box .image-box {
  border-radius: 20px;
  margin: 50px;
  background: #fff;
  padding: 10px;
}
.employee-information-container .employee-information .card-box .image-box img {
  width: 100%;
  height: 300px;
}
.employee-information-container .employee-information .card-box .image-box p {
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 15px;
}
.employee-information-container .employee-information .card-box .image-box p:nth-child(3) {
  font-weight: normal;
}
.employee-information-container .employee-information .card-box .contact {
  padding: 50px;
  padding-top: 0;
}
.employee-information-container .employee-information .card-box .contact p {
  color: #fff;
  margin-bottom: 50px;
}
.employee-information-container .employee-information .card-box .contact p:nth-child(1) {
  border-bottom: 1px solid #fff;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
}
.employee-information-container .employee-information .card-box .contact p i {
  margin-right: 20px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
}
.employee-information-container .employee-information .content {
  position: relative;
  margin: 80px 100px;
}
.employee-information-container .employee-information .content div {
  margin-bottom: 50px;
}
.employee-information-container .employee-information .content div h1 {
  text-decoration: underline;
}
.employee-information-container .employee-information .content div p {
  color: gray;
}
.employee-information-container .employee-information .content p {
  margin-bottom: 50px;
}
.employee-information-container .employee-information .content p span {
  font-weight: bold;
}
.employee-information-container .employee-information .content a {
  position: absolute;
  left: 0;
  bottom: 0;
}
.employee-information-container .employee-information .content a button {
  padding: 10px 50px;
  background: #04143d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.employee-information-container > p {
  display: inline-block;
  margin-top: 50px;
}
.employee-information-container p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.about {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 90px);
  background: #f6f7fa;
}

.about-we-container {
  position: relative;
  top: 90px;
  background: #f6f7fa;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.about-we-container .thanglong-life {
  position: relative;
  width: 100%;
  min-height: 150vh;
  background: #04143d;
}
.about-we-container .thanglong-life p {
  color: #fff;
}
.about-we-container .thanglong-life > p:nth-child(1) {
  margin-top: 300px;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 2px;
}
.about-we-container .thanglong-life > p:nth-child(2) {
  margin-top: 20px;
  font-size: 18px;
  width: 400px;
  color: rgba(255, 255, 255, 0.5);
}
.about-we-container .thanglong-life ul {
  margin-top: 50px;
}
.about-we-container .thanglong-life ul li {
  list-style: none;
  cursor: pointer;
}
.about-we-container .thanglong-life ul li p {
  width: 400px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.about-we-container .thanglong-life ul li:hover p {
  color: red;
}
.about-we-container .thanglong-life .image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.about-we-container .thanglong-life .image-box img {
  position: absolute;
}
.about-we-container .thanglong-life .image-box img:nth-child(1) {
  top: 50px;
  left: 100px;
  height: 200px;
}
.about-we-container .thanglong-life .image-box img:nth-child(2) {
  bottom: 150px;
  left: 0px;
  height: 150px;
}
.about-we-container .thanglong-life .image-box img:nth-child(3) {
  top: 900px;
  left: 700px;
  height: 300px;
}
.about-we-container .thanglong-life .image-box img:nth-child(4) {
  top: 450px;
  right: 400px;
  width: 550px;
}
.about-we-container .thanglong-life .image-box img:nth-child(5) {
  top: 860px;
  right: 250px;
  width: 300px;
}
.about-we-container .thanglong-life .image-box img:nth-child(6) {
  top: 150px;
  right: 150px;
  width: 350px;
}
.about-we-container .news-container {
  position: relative;
  width: 100%;
  min-height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about-we-container .news-container .news {
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  background: red;
}
.about-we-container .news-container .news .news-box1 {
  width: 100%;
  height: 550px;
  overflow: hidden;
  cursor: pointer;
}
.about-we-container .news-container .news .news-box1 .image-box {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.about-we-container .news-container .news .news-box1 .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.about-we-container .news-container .news .news-box1 .content {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 1;
}
.about-we-container .news-container .news .news-box1 .content p:nth-child(1) {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}
.about-we-container .news-container .news .news-box1 .content p:nth-child(2) {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  width: 650px;
  margin-bottom: 150px;
}
.about-we-container .news-container .news .news-box1 .content button {
  padding: 15px 45px;
  background: #fff;
  border: none;
  color: #04143d;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}
.about-we-container .news-container .news .news-box1 .content button:hover {
  color: #fff;
  background: red;
}
.about-we-container .news-container .news .news-box1:hover .image-box img {
  transform: scale(1.05);
}
.about-we-container .news-container .news .news-box23 {
  display: flex;
  height: 350px;
  margin-top: 20px;
}
.about-we-container .news-container .news .news-box23 .news-box2 {
  width: 65%;
  height: 100%;
  background: #04143d;
  margin-right: 5%;
  display: flex;
  cursor: pointer;
}
.about-we-container .news-container .news .news-box23 .news-box2 .image-box {
  padding: 50px 50px 50px 100px;
  width: 600px;
  height: 100%;
}
.about-we-container .news-container .news .news-box23 .news-box2 .image-box .box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about-we-container .news-container .news .news-box23 .news-box2 .image-box .box img {
  width: 100%;
  height: 100%;
  transition: 1s;
}
.about-we-container .news-container .news .news-box23 .news-box2 .image-box:hover img {
  transform: scale(1.1);
}
.about-we-container .news-container .news .news-box23 .news-box2 .content {
  padding: 50px 50px 50px 0px;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-we-container .news-container .news .news-box23 .news-box2 .content p {
  color: #fff;
  font-weight: bold;
}
.about-we-container .news-container .news .news-box23 .news-box2 .content p:nth-child(2) {
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.about-we-container .news-container .news .news-box23 .news-box2 .content p:nth-child(2):hover {
  letter-spacing: 1px;
}
.about-we-container .news-container .news .news-box23 .news-box3 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-we-container .news-container .news .news-box23 .news-box3 p {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
.about-we-container .news-container .news .news-box23 .news-box3 p:nth-child(2) {
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.about-we-container .news-container .news .news-box23 .news-box3 p:nth-child(2):hover {
  letter-spacing: 1px;
}
.about-we-container .news-container .other-news {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  padding: 50px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-we-container .news-container .other-news div {
  position: relative;
  width: 25%;
  height: 100%;
  border-right: 1px solid gray;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
}
.about-we-container .news-container .other-news div p {
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  font-weight: bold;
}
.about-we-container .news-container .other-news div p:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 16px;
}
.about-we-container .news-container .other-news div:last-child {
  border: none;
}
.about-we-container .news-container .other-news div:hover p {
  color: red;
}
.about-we-container .news-container .other-news div:hover p:nth-child(2) {
  opacity: 1;
}

.filter-container {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.filter-container .filter-result p {
  font-size: 18px;
  font-weight: bold;
}
.filter-container .filter-result p span {
  color: #ff1944;
}
.filter-container .filter {
  width: 550px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-container .filter .filter-department,
.filter-container .filter .filter-affiliated-department {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  border-radius: 23px;
  border: 1px solid #222222;
  font-size: 15px;
  cursor: pointer;
}
.filter-container .filter .filter-department p,
.filter-container .filter .filter-affiliated-department p {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
}
.filter-container .filter .filter-department select,
.filter-container .filter .filter-affiliated-department select {
  outline: none;
  border: none;
  background: transparent;
  font-size: 15px;
  color: #04143d;
  cursor: pointer;
}
.filter-container .filter .filter-department select option,
.filter-container .filter .filter-affiliated-department select option {
  display: inline-block;
  background: #04143d;
  color: #fff;
  cursor: pointer;
  height: 20px;
}

footer {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0px 100px 0px 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #04143d;
}
footer > a {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 5px;
  height: 30px;
  background: #fff;
  cursor: pointer;
  transform: rotateZ(-45deg);
}
footer > a:after {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 5px;
  height: 30px;
  background: #fff;
  transform: rotateZ(90deg);
}
footer .content {
  width: 100%;
  padding-top: 70px;
}
footer .content h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}
footer .content .footer-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .content .footer-container .footer-list {
  width: 60%;
  height: 250px;
  margin-right: 50px;
}
footer .content .footer-container .footer-list ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .content .footer-container .footer-list ul li {
  width: 50%;
  list-style: none;
  margin-bottom: 30px;
}
footer .content .footer-container .footer-list ul li a {
  text-decoration: none;
  color: #f6f7fa;
  font-size: 15px;
  font-weight: bold;
  transition: 0.5s;
}
footer .content .footer-container .footer-list ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .content .footer-container .footer-contact {
  width: 40%;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .content .footer-container .footer-contact .list-contact {
  margin-right: 40px;
}
footer .content .footer-container .footer-contact .list-contact p {
  font-size: 15px;
  color: #f6f7fa;
  margin-bottom: 30px;
  cursor: pointer;
}
footer .content .footer-container .footer-contact .list-contact p:nth-child(3) {
  margin-bottom: 49px;
}
footer .content .footer-container .footer-contact .contact-details p {
  font-size: 15px;
  color: #f6f7fa;
  cursor: pointer;
  margin-bottom: 30px;
}
footer .content .footer-container .footer-contact .contact-details p:nth-child(3) {
  margin-bottom: 0;
}
footer .links {
  width: 100%;
  height: 80px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}
footer .links p {
  color: #f6f7fa;
  font-size: 16px;
}
footer .links .links-list ul {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
footer .links .links-list ul li {
  list-style: none;
}
footer .links .links-list ul li i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}
footer .links .links-list ul li i:hover {
  opacity: 1;
}

.footer2 {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #04143d;
}
.footer2 p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}
.footer2 p span {
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
