@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(135deg, #485461 0%, #28313b 74%);
}

p {
  color: #222;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #222;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 10px 100px 0px 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  z-index: 100;
}
header .logo {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #222;
}
header .logo img {
  height: 70px;
}
header .tasks-bg {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 20, 61, 0.6);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: 1s;
}
header .tasks-bg.active {
  visibility: visible;
  opacity: 1;
}
header .tasks-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  border-top: 3px solid #04143d;
  transition: 0.1s;
}
header .tasks-logo:after,
header .tasks-logo:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #04143d;
  transition: 0.2s;
}
header .tasks-logo:before {
  top: 23px;
}
header .tasks-logo.active {
  border-top-color: transparent;
}
header .tasks-logo.active:after {
  transform: rotateZ(45deg);
}
header .tasks-logo.active:before {
  top: 10px;
  transform: rotateZ(-45deg);
}
header .tasks {
  position: absolute;
  top: 90px;
  right: 0;
  width: 400px;
  height: calc(100vh - 90px);
  background: #04143d;
  transition: 0.5s;
  z-index: 1;
}
header .tasks ul {
  padding-top: 50px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
header .tasks ul li {
  list-style: none;
  margin-bottom: 40px;
  overflow: hidden;
}
header .tasks ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}
header .tasks ul li span {
  position: relative;
  top: -10px;
  left: -100%;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  transition: 0.5s;
}
header .tasks ul li:hover span {
  left: 0;
}
header .tasks ul li:hover a {
  letter-spacing: 2px;
}
header .tasks ul p {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 100%;
  text-align: center;
  font-size: 180px;
  letter-spacing: 20px;
  font-weight: bold;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  cursor: pointer;
}
header .tasks ul p:hover {
  color: rgba(255, 255, 255, 0.5);
}
header .tasks.active {
  right: -400px;
}

.home-container {
  position: relative;
  top: 90px;
  background: #f6f7fa;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.home-container .banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 90px);
  transition: 1s;
}
.home-container .banner #banner {
  position: absolute;
  top: -90px;
}
.home-container .banner span {
  position: absolute;
  bottom: 100px;
  left: 170px;
  width: 60px;
  height: 5px;
  border-radius: 10px;
  background: gray;
  cursor: pointer;
  z-index: 1;
}
.home-container .banner span:nth-child(2) {
  left: 250px;
}
.home-container .banner span:nth-child(3) {
  left: 330px;
}
.home-container .banner span:nth-child(4) {
  left: 410px;
}
.home-container .banner span.sticky {
  background: red;
}
.home-container .banner .down-box {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 50px;
  height: 50px;
  z-index: 1;
  cursor: pointer;
}
.home-container .banner .down-box .down-icon {
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 5px;
  height: 50px;
  border-radius: 10px;
  background: #fff;
  z-index: 1;
}
.home-container .banner .down-box .down-icon:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 10px;
  width: 5px;
  height: 30px;
  border-radius: 10px;
  background: #fff;
  transform: rotateZ(45deg);
  z-index: 1;
}
.home-container .banner .down-box .down-icon:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -10px;
  width: 5px;
  height: 30px;
  border-radius: 10px;
  background: #fff;
  transform: rotateZ(-45deg);
  z-index: 1;
}
.home-container .banner .down-box:hover .down-icon {
  animation: animateDownIcon 2s ease-in-out infinite;
}
.home-container .banner .slider-banner {
  position: relative;
  width: 500%;
  height: 100%;
  display: flex;
  transition: 1s ease-in-out;
}
.home-container .banner .slider-banner .box1,
.home-container .banner .slider-banner .box2,
.home-container .banner .slider-banner .box3,
.home-container .banner .slider-banner .box4 {
  position: relative;
  width: 20%;
}
.home-container .banner .slider-banner .box1 .content,
.home-container .banner .slider-banner .box2 .content,
.home-container .banner .slider-banner .box3 .content,
.home-container .banner .slider-banner .box4 .content {
  position: absolute;
  bottom: 200px;
  width: 600px;
  height: 300px;
  margin-left: 170px;
}
.home-container .banner .slider-banner .box1 .content p,
.home-container .banner .slider-banner .box2 .content p,
.home-container .banner .slider-banner .box3 .content p,
.home-container .banner .slider-banner .box4 .content p {
  font-size: 90px;
  margin-bottom: 50px;
  color: #fff;
  font-weight: bold;
}
.home-container .banner .slider-banner .box1 .image-box,
.home-container .banner .slider-banner .box2 .image-box,
.home-container .banner .slider-banner .box3 .image-box,
.home-container .banner .slider-banner .box4 .image-box {
  width: 100%;
  height: 100%;
}
.home-container .banner .slider-banner .box1 .image-box img,
.home-container .banner .slider-banner .box2 .image-box img,
.home-container .banner .slider-banner .box3 .image-box img,
.home-container .banner .slider-banner .box4 .image-box img {
  width: 100%;
  height: 100%;
}
@keyframes animateDownIcon {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.home-container .study-program-container {
  position: relative;
  padding: 20px 100px 20px 170px;
  width: 100%;
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
}
.home-container .study-program-container #study {
  position: absolute;
  top: -90px;
}
.home-container .study-program-container .introduce {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.home-container .study-program-container .introduce p {
  color: #04143d;
  font-weight: bold;
  font-size: 20px;
}
.home-container .study-program-container .introduce .research {
  position: relative;
  display: flex;
  cursor: pointer;
}
.home-container .study-program-container .introduce .research p {
  padding: 15px;
  color: red;
}
.home-container .study-program-container .introduce .research .icon {
  position: relative;
}
.home-container .study-program-container .introduce .research .icon svg {
  position: relative;
  top: 10px;
  transition: 0.5s;
}
.home-container .study-program-container .introduce .research:hover .icon svg {
  transform: rotateZ(180deg);
}
.home-container .study-program-container .study-program {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 700px;
}
.home-container .study-program-container .study-program > p {
  color: #04143d;
  font-size: 60px;
  font-weight: bold;
  margin-right: 400px;
  margin-top: 100px;
  letter-spacing: 2px;
}
.home-container .study-program-container .study-program .majors-container {
  width: 700px;
  height: 600px;
  margin-top: 100px;
}
.home-container .study-program-container .study-program .majors-container ul {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.home-container .study-program-container .study-program .majors-container ul li {
  width: 320px;
  padding-top: 25px;
  padding-bottom: 25px;
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home-container .study-program-container .study-program .majors-container ul li:nth-child(7), .home-container .study-program-container .study-program .majors-container ul li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.home-container .study-program-container .study-program .majors-container ul li p {
  color: #04143d;
  font-weight: bold;
  transition: 0.5s;
}
.home-container .study-program-container .study-program .majors-container ul li:hover p {
  color: red;
}

.thanglong-life {
  position: relative;
  padding: 20px 100px 20px 170px;
  width: 100%;
  min-height: 150vh;
  background: #04143d;
}
.thanglong-life p {
  color: #fff;
}
.thanglong-life > p:nth-child(1) {
  margin-top: 300px;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 2px;
}
.thanglong-life > p:nth-child(2) {
  margin-top: 20px;
  font-size: 18px;
  width: 400px;
  color: rgba(255, 255, 255, 0.5);
}
.thanglong-life ul {
  margin-top: 50px;
}
.thanglong-life ul li {
  list-style: none;
  cursor: pointer;
}
.thanglong-life ul li p {
  width: 400px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.thanglong-life ul li:hover p {
  color: red;
}
.thanglong-life .image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.thanglong-life .image-box img {
  position: absolute;
}
.thanglong-life .image-box img:nth-child(1) {
  top: 50px;
  left: 100px;
  height: 200px;
}
.thanglong-life .image-box img:nth-child(2) {
  bottom: 150px;
  left: 0px;
  height: 150px;
}
.thanglong-life .image-box img:nth-child(3) {
  top: 900px;
  left: 700px;
  height: 300px;
}
.thanglong-life .image-box img:nth-child(4) {
  top: 450px;
  right: 400px;
  width: 550px;
}
.thanglong-life .image-box img:nth-child(5) {
  top: 860px;
  right: 250px;
  width: 300px;
}
.thanglong-life .image-box img:nth-child(6) {
  top: 150px;
  right: 150px;
  width: 350px;
}

.news-container {
  position: relative;
  padding: 100px 100px 100px 170px;
  width: 100%;
  min-height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.news-container .news {
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  background: red;
}
.news-container .news .news-box1 {
  width: 100%;
  height: 550px;
  overflow: hidden;
  cursor: pointer;
}
.news-container .news .news-box1 .image-box {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.news-container .news .news-box1 .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.news-container .news .news-box1 .content {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 1;
}
.news-container .news .news-box1 .content p:nth-child(1) {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}
.news-container .news .news-box1 .content p:nth-child(2) {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  width: 650px;
  margin-bottom: 150px;
}
.news-container .news .news-box1 .content button {
  padding: 15px 45px;
  background: #fff;
  border: none;
  color: #04143d;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}
.news-container .news .news-box1 .content button:hover {
  color: #fff;
  background: red;
}
.news-container .news .news-box1:hover .image-box img {
  transform: scale(1.05);
}
.news-container .news .news-box23 {
  display: flex;
  height: 350px;
  margin-top: 20px;
}
.news-container .news .news-box23 .news-box2 {
  width: 65%;
  height: 100%;
  background: #04143d;
  margin-right: 5%;
  display: flex;
}
.news-container .news .news-box23 .news-box2 .image-box {
  padding: 50px 50px 50px 100px;
  width: 600px;
  height: 100%;
}
.news-container .news .news-box23 .news-box2 .image-box img {
  width: 100%;
  height: 100%;
}
.news-container .news .news-box23 .news-box2 .content {
  padding: 50px 50px 50px 0px;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-container .news .news-box23 .news-box2 .content p {
  color: #fff;
  font-weight: bold;
}
.news-container .news .news-box23 .news-box2 .content p:nth-child(2) {
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.news-container .news .news-box23 .news-box2 .content p:nth-child(2):hover {
  letter-spacing: 1px;
}
.news-container .news .news-box23 .news-box3 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-container .news .news-box23 .news-box3 p {
  color: #fff;
  font-weight: bold;
}
.news-container .news .news-box23 .news-box3 p:nth-child(2) {
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.news-container .news .news-box23 .news-box3 p:nth-child(2):hover {
  letter-spacing: 1px;
}
.news-container .other-news {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  padding: 50px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-container .other-news div {
  position: relative;
  width: 25%;
  height: 100%;
  border-right: 1px solid gray;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
}
.news-container .other-news div p {
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  font-weight: bold;
  color: #04143d;
}
.news-container .other-news div p:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 16px;
}
.news-container .other-news div:last-child {
  border: none;
}
.news-container .other-news div:hover p {
  color: red;
}
.news-container .other-news div:hover p:nth-child(2) {
  opacity: 1;
}

.about {
  position: relative;
  top: 90px;
  width: 100%;
  min-height: calc(100vh - 90px);
  background: #f6f7fa;
}

footer {
  position: relative;
  top: 90px;
  width: 100%;
  height: 500px;
  padding: 0px 100px 0px 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #04143d;
}
footer > a {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 5px;
  height: 30px;
  background: #fff;
  cursor: pointer;
  transform: rotateZ(-45deg);
}
footer > a:after {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 5px;
  height: 30px;
  background: #fff;
  transform: rotateZ(90deg);
}
footer .content {
  width: 100%;
  padding-top: 70px;
}
footer .content h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}
footer .content .footer-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .content .footer-container .footer-list {
  width: 1000px;
  height: 250px;
  margin-right: 50px;
}
footer .content .footer-container .footer-list ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .content .footer-container .footer-list ul li {
  list-style: none;
  margin-bottom: 30px;
}
footer .content .footer-container .footer-list ul li a {
  text-decoration: none;
  color: #f6f7fa;
  font-size: 15px;
  font-weight: bold;
  transition: 0.5s;
}
footer .content .footer-container .footer-list ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .content .footer-container .footer-contact {
  width: 700px;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .content .footer-container .footer-contact .list-contact {
  margin-right: 40px;
}
footer .content .footer-container .footer-contact .list-contact p {
  font-size: 15px;
  color: #f6f7fa;
  margin-bottom: 30px;
  cursor: pointer;
}
footer .content .footer-container .footer-contact .list-contact p:nth-child(3) {
  margin-bottom: 49px;
}
footer .content .footer-container .footer-contact .contact-details p {
  font-size: 15px;
  color: #f6f7fa;
  cursor: pointer;
  margin-bottom: 30px;
}
footer .content .footer-container .footer-contact .contact-details p:nth-child(3) {
  margin-bottom: 0;
}
footer .links {
  width: 100%;
  height: 80px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}
footer .links p {
  color: #f6f7fa;
}
footer .links .links-list ul {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
footer .links .links-list ul li {
  list-style: none;
}
footer .links .links-list ul li i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}
footer .links .links-list ul li i:hover {
  opacity: 1;
}

/*# sourceMappingURL=index.css.map */
